/Variants and scriptable objects/Library
/Variants and scriptable objects/Logs
/Variants and scriptable objects/UserSettings
/Variants and scriptable objects/Temp
/Variants and scriptable objects/Obj
